.pay{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
body {
  background-color: gold;
  height:100%;
  margin-left: 40%;
}
#text{
  color:White;
  background-color: rgb(255, 0, 149);
  margin-right:75%
}